# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\0.프로그래밍\20년도\자바\Java_prac\.idea/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/../../../../../../:\0.프로그래밍\20년도\자바\Java_prac\.idea/
